<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SharpGL" version="3.1.1" targetFramework="net48" />
  <package id="SharpGL.SceneGraph" version="3.1.1" targetFramework="net48" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net48" />
  <package id="TgaLib" version="1.0.2" targetFramework="net48" />
</packages>